---
import { Image } from 'astro:assets'

import SocialIcons from './SocialIcons.astro'



const {fullName, title, institute, profilePicture} = Astro.props
---
<div class='flex-1'>
  <h1 class='text-4xl font-bold mb-4'>
    Welcome! I'm <span class='text-lime-600'>{fullName}</span>
  </h1>
  <p class='text-xl text-gray-600 mb-4'>{title}{institute ? ` at ${institute}` : ''}</p>
  <p class='text-lg mb-6'>
      I’m a third-year student studying Economics and Mathematics with a minor in Computing Science. I thrive on tackling complex problems and learning by doing.
      I have experience in programming and a strong background in mathematics, statistics, and probability. Outside of academics, my experience in customer service has helped me build strong communication and problem-solving skills.
    </p>
    <p class='text-lg mb-6 text-amber-700 font-bold'>
    I’m excited to bring my technical expertise and strong interpersonal skills to a Summer 2025 co-op opportunity.
  </p>
  <div class='flex gap-4'>
    <SocialIcons />
  </div>
</div>
<div class='size-72 lg:block hidden'>
  <!-- Add your profile image -->
  <Image
    src={profilePicture}
    alt={fullName}
    class='w-full h-full mask mask-circle size-44'
  />
</div>
